<%- include('../../partials/header.ejs') %>

<body>
  <%- include('../../partials/homenavbar.ejs') %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center page-title">Produtos</h1> 
        <h5 class="ml-3"><%= quant %> - Produto(s)</h5>       
    </div>
      <table class="table mt-5" style="text-align: center;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Ações</th>             
          </tr>
        </thead>
        <% products.forEach(product => { %>
        <tbody>
          <tr>           
            <td><%= product.code %></td>
            <td><%= product.description %></td>
            <td><%= product.provider %></td>
            <td>
              <a href="product/edit/<%= product.id %>"><button class="btn btn-warning" style="width: 70px;">Editar</button></a>              
              <form method="POST" action="/product/delete" style="display: inline-block;" onsubmit="confirmarDelecao(event, this)">
                <input type="hidden" name="id" value="<%= product.id %>" />
                <button class="btn btn-danger">Deletar</button>
            </form>            
            </td>
          </tr>                   
        </tbody>
        <% })%>
      </table>

    </div>
  </div>
<script>
  function confirmarDelecao(event, form) {
    event.preventDefault();
    var decision = confirm("Deletar?");
    if (decision) {
      form.submit();
    }
  }
</script>
  <%- include('../../partials/footer.ejs') %>